*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Century Gothic';
    height: 100vh;
    background: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.nav-burger{
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.nav-burger .line{
    width: 50px;
    height: 3px;
    background: #000;
    margin: 10px 0px;
}

.container{
    height: 100%;
    width: 100%;
}

.container header{
    height: 70px;
    max-height: 10vh;
    background: #fff;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

.container header .nav-list{
    display: flex;
    align-items: center;
    height: 100%;
}

.container header .nav-list .nav-links{
    display: flex;
}

.container header .nav-list .nav-links a{
    text-decoration: none;
    color: #161616;
}
.container header .nav-list .nav-links li{
    list-style: none;
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 20px;
    border-bottom: solid transparent 2px;
}    

.container header .nav-list .nav-links li:hover{
    color: #161616;
    border-bottom: solid #000 2px;
}

.container header .nav-list .nav-links li.active{
    border-bottom: solid #000 2px;
}

.container .about-content{
    max-width: 1000px;
    margin: auto;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container .about-content h3{
    font-size: 40px;
    margin: 20px 0px;
}

.container .about-content p{
    font-size: 20px;
}

footer{
    height: 300px;
    width: 100%;
    background: #1a1a1a;
    color: #f0f0f0;
}

footer .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

footer .content ul li{
    font-size: 18px;
    list-style: none;
    margin: 15px 0;
    border-bottom: solid transparent 1px;
}

footer .content ul li:hover{
    cursor: pointer;
    border-bottom: solid #f0f0f0 1px;
}